* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1A237E; /* Azul oscuro */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.welcome-container {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo con transparencia */
    border-radius: 15px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.welcome-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.welcome-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
}

.btn {
    padding: 15px 30px;
    background-color: #3F51B5; /* Azul */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #5C6BC0;
}

.btn-register {
    background-color: #FFEB3B; /* Amarillo */
    color: black;
}

.btn-register:hover {
    background-color: #FDD835;
}
